---
layout: page
title: Blog
---
<section class="list">
	{% if site.posts.size == 0 %}
		<p class="text-center">Nothing published yet!</p>
	{% else %}
		{% for post in site.posts  %}
			{% if post.category == 'blog' %}
				{% capture this_year %}{{ post.date | date: "%Y" }}{% endcapture %}
			{% endif %}
			{% if post.previous.category == 'blog' %}
				{% capture next_year %}{{ post.previous.date | date: "%Y" }}{% endcapture %}
			{% endif %}

			{% if forloop.first %}
				<h2 id="{{ this_year }}-ref">{{this_year}}</h2>
			{% endif %}

			{% if post.category == 'blog' %}
				{% if post.hidden != true %}
					{% include blog-post.html %}
				{% endif %}
			{% endif %}
			
			{% if forloop.last %}
			{% else %}
				{% if this_year != next_year %}
					<h2 id="{{ next_year }}-ref">{{next_year}}</h2>
				{% endif %}
			{% endif %}
		{% endfor %}
	{% endif %}
</section>